$c-pink: #f4f6fe;
$c-dark-pink: #B1B9DB;
$c-dark-pink-fade: rgba(177, 185, 219, 0.33);
$c-white: #FFFFFF;
$c-black: #000000;
$c-blue: #2E57FA;
$c-dark-blue: #0637F9;

$bs-black: rgba(204, 208, 223, 0.5);
